@charset "UTF-8";
html {
  overflow-y: scroll;
}
body {
  background-color: #fff5ff;
  padding-bottom: 50px;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, Helvetica, Ariel, sans-serif;
}
@media (max-width: 767px) {
  h2 {
    font-size: 24px;
  }
}
h1.title {
  z-index: 10;
}
.honya-icon-wrap {
  padding: 5px;
}
.honya-icon {
  width: 100%;
}
.content-pane {
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.content-pane.fade-enter,
.content-pane.fade-leave {
  overflow: hidden;
  height: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.menu-btn {
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  border: none 2px transparent;
  border-bottom: solid 2px #fcf;
}
a:hover.menu-btn,
a:active.menu-btn,
a:focus.menu-btn {
  text-decoration: none;
  color: #000;
  outline: none;
}
.menu-btn.active {
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  border: solid 2px #fcf;
  border-bottom: none 2px transparent;
}
/* link-item */
.link-item {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-color: #faf;
  border-left-width: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  display: block;
  background-color: #fcf;
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  -ms-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
  -moz-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  -ms-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: border-color 0.3s ease 0s;
  -moz-transition: border-color 0.3s ease 0s;
  -o-transition: border-color 0.3s ease 0s;
  -ms-transition: border-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s;
}
a:hover.link-item,
a:active.link-item {
  text-decoration: none;
  background-color: #fbf;
  border-color: #f8f;
  color: #000;
}
.link-item h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.link-item p last-child {
  margin-bottom: 0;
}
.link-item code {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.link-item+.link-item {
  margin-top: -5px;
}
