body {
  background-color: #fff5ff;
}

.content-pane {
  transition: opacity 0.2s ease;
}
.content-pane.fade-enter, .content-pane.fade-leave {
  overflow: hidden;
  height: 0;
  opacity: 0;
}

/* works-item */
.works-item {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-color: #ffaaff;
  border-left-width: 5px;
  border-radius: 3px;

  text-decoration: none;
  display: block;
  background-color: #ffccff;
  color: #330033;

  transition: color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s;
}

a:hover.works-item, a:active.works-item {
  text-decoration: none;
  background-color: #ffbbff;
  border-color: #ff88ff;
  color: #330033;
}

.works-item h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.works-item p:last-child {
  margin-bottom: 0;
}
.works-item code {
  border-radius: 3px;
}
.works-item+.works-item {
  margin-top: -5px;
}
