<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>me.pocke.me</title>
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/octicons/octicons/octicons.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div id="vue-main" class="container" style="margin-top: 30px;">
    <div class="col-xs-12">

      <h1 class="page-header">me.pocke.me</h1>
      <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4 offset-col-xs-4">
          <img src="imgs/icon.svg" alt="Icon" class="img-responsive img-circle">
        </div>
      </div>


      <div class="row" style="margin-top: 10px;">
        <menu-btn v-with="name: 'about'"></menu-btn>
        <menu-btn v-with="name: 'works'"></menu-btn>
        <menu-btn v-with="name: 'links'"></menu-btn>
      </div>


      <!-- content -->
      <div class="row">
        <!--about-->
        <div class="content-pane" v-if="is_active('about')" class="col-xs-12" v-transition="fade">
          <span>foo</span>
        </div>


        <!--links-->
        <div class="content-pane" v-if="is_active('links')" class="col-xs-12" v-transition="fade">
          <link-item v-repeat="item: links"></link-item>
        </div>


        <!--works-->
        <div class="content-pane" v-if="is_active('works')" class="col-xs-12" v-transition="fade">
          <div v-repeat="x: works">
            <h3 v-text="$key" class="page-header text-capitalize"></h3>
            <link-item v-repeat="item: x"></link-item>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- container -->

  <!-- v-with="name: 'about'" -->
  <script id="menu-btn-template" type="x-template">
    <a href="" v-class="active: is_active(name)" class="col-xs-4 menu-btn" v-on="click: show(name)">
      <h2 class="text-uppercase text-center" v-text="name"></h2>
    </a>
  </script>

  <script id="link-item-template" type="x-template">
    <a v-attr="href: item.url" class="col-xs-12 link-item">
      <h4 v-text="item.title"></h4>
      <p v-text="item.detail"></p>
    </a>
  </script>

  <!-- Scripts -->
  <script src="bower_components/vue/dist/vue.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
